@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
/* font-family: 'Ubuntu', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: 'Ubuntu', sans-serif;
}

body{
    background-color: #d0f4de;
}

.wrapper{
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 20px black;
}

.time-section{
    width: 400px;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: #faf0ca; */
    background-color: #003049;
    box-shadow: 5px 5px black;
}

.time-section p{
    font-size: 50px;
    color: white;
}

.btn button{
    width: 100px;
    height: 50px;
    margin: 5px;
    font-weight: 700;
    border: none;
    border-radius: 50px;
    background-color: #f4d35e;
}

.lap-section{
    width: 400px;
    height: 100%;
    border-radius: 20px;
    padding: 20px;
    /* background-color: #1b4965; */
    background-color: #003049;
    box-shadow: 5px 5px black;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lap-section p{
    color: white;
    text-align: center;
    font-size: 30px;
}

.lap-section .lap-txt{
    width: auto;
    height: 100%;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    text-align: center;
    overflow: scroll;
}

.link{
    list-style: none;
    margin: 10px auto;
    width: 200px;
    border-radius: 20px;
    border: 1px solid white;
}

::-webkit-scrollbar{
    width: 0;
}

.lap-section .ol{
    height: 100%;
}

.lap:active{
    background-color: #ae9b55;
}

.reset:active{
    background-color: #ae9b55;
}

.remove-active{
    background-color: rgb(244, 211, 94);
}

.wrapper .time-section .btn .active { 
    background-color: #c0a955;
}

.wrapper .time-section .btn .removeActive { 
    background-color: #f4d35e;
}